<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" 
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

	<properties resource="db.properties" />

	<classPathEntry
		location="/Users/gary/.m2/repository/mysql/mysql-connector-java/5.1.37/mysql-connector-java-5.1.37.jar" />

	<context id="schoolpalContext">
		<commentGenerator>
			<property name="suppressDate" value="false" />
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<jdbcConnection connectionURL="${jdbc.url}"
			userId="schoolpal" password="schoolpal"
			driverClass="${jdbc.driver}" >
		</jdbcConnection>
		<javaModelGenerator targetPackage="com.github.db.model"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="com.github.db.mapper"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>
		<javaClientGenerator targetPackage="com.github.db.inf"
			targetProject="src/main/java" type="XMLMAPPER" />
		<table schema="schoolpal" tableName="t_market_tracking"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="false" />
		</table>
	</context>
</generatorConfiguration>